<div class="section">
    <div class="container section">
        <div class="row">
            <div class="col s2">
                <img class="author_pic" src="{{author.portrait}}" alt="" />
            </div>
            <div class="author_info col s7 offset-s2">
                <h3>{{author.first_name}} {{author.last_name}}</h3>
                <p>{{author.bio}}</p>
                <a href="/authors/delete_author/{{author.id}}">Delete</a>
                <a href="/authors/edit_author/{{author.id}}">Edit</a>
            </div>
        </div>
    </div>
